/*****************************************************************
 * HW-provided Top-level CSS stylesheet for iiarjnls
 *
 * Should contain (or import) all styles used across many pages
 * within the site, and overrides to HW global CSS stylesheet.
 *
 *****************************************************************/
/** requires sidebar styles **/
@import url("hw-publisher-sidebars.css");

form.searchbox #sidebar-search-input, form.searchbox #issue-search-input {
float:left;
width:110px;
}

div#header {
margin-bottom:10px;
}

#header .bar, #footer .bar {
background-color:transparent;
}

#header #main-logo {
border: 0;
margin: 0; /*for ads margin-top 112px*/
}

#header #hdr-login {
left:525px;
top:30px; /*for ads top:135px;*/
}

#header #hdr-login-signin {
border:none;
background-color:transparent;
cursor:pointer;
color:white;
}

#header #hdr-login form label, #header #hdr-login input {
color: white;
display:inline;
}

#header #hdr-login input#hdr-login-username, #header #hdr-login input#hdr-login-password {
margin-left:3px;
margin-right:3px;
}

#header .inst-branding, #header #hdr-login {
border-left: none;
}

#header #authstring {
left:330px;
top:25px;
}

#header .header-buttons {
padding: 7px 0px 5px 0;
background-color:#36739F;
font-weight:bold;
list-style-type:none;
width:960px;
margin:26px 0 0 0;
}

#header .header-buttons li {
border-color: #FFFFFF;
}

#header .header-buttons li.first {
padding-left:10px;
}

#header .header-buttons, #header .header-buttons a {
background-color:#36739F;
color:#FFFFFF;
}


#header ul.button-list a:hover {
background-color:#FFFFFF;
color:#36739F;
}

#header .header-buttons li span {
font-size:1.2em;
font-family: Arial,Helvetica,sans-serif;
}

#header .header-qs
{
background-color:#CFDBD1;
font-weight:bold;
margin:0;
padding: 3px 0 7px 5px;
text-align:left;
text-decoration:none;
width:955px; /*quicksearch width 960 minus padding*/
left: 0px;
border:none;
height:20px;
top:70px; /*for ads top:182px;*/
}

#header .header-qs a {
color:#36739F;
}


#header .header-qs input {
width:auto;
}

#header .header-qs .searchform-label, #header .header-qs label, #header .header-qs .adv-search-link a {
font-family: Arial,Helvetica,sans-serif;
font-size:0.9em;
}

#header .adv-search-link a:visited, #header .adv-search-link a:active, #header .adv-search-link a:link {
font-family: Arial,Helvetica,sans-serif;
color:#36739F;
margin-left:2px;
}

#header .header-qs .searchform-label {
color:#36739F;
float:left;
margin-top:5px; /*vertical-align baseline doesn't work here*/
padding-right:3px;
margin-right:3px;
border-right: 1px solid #36739F;

}

#header .header-qs input#header-qs-search-go {
background-attachment:scroll;
background-color:#36739F;
background-image:none;
background-position:0 0;
background-repeat:repeat;
color:#FFFFFF;
font-family:arial,helvetica;
font-size:12px;
font-weight:bold;
width:40px;
margin-left:4px;
margin-right:4px;
}

#header .header-qs label {
position:relative;
left:0;
color:#36739F;
margin:0 4px;
}


#header .bar-inner, #footer .footer-group {
background-color:#36739F;
}

#footer .footer-group p {
padding:0;
padding-left:10px;
line-height:1.4;
}

#footer .footer_logos li {
border: none;
}

#footer .footer_logos {
float:right;
padding: 5px 5px 0 0;
}

#footer .copyright {
float:left;
}

#footer .copyright a {
color: white;
}

#footer .copyright abbr {
padding-left:2px;
font-style:italic;
}


div#ad-top {
background-color:#cccccc;
padding-bottom:10px;
width:76%;
text-align:left;
position:absolute;
top:0;
height:102px;
}

div#ad-top2 {
text-align:right;
background-color:#cccccc;
padding-bottom:10px;
width:24%;
position:absolute;
top:0;
right:0;
height:102px;
}

div#ad-top2 ul, div#ad-footer2 ul{
list-style-type:none;
margin:0;
}

div#ad-top2 li, div#ad-footer2 li {
margin:0;
}

div#ad-tower ul.tower-ads {
left:980px;
position:absolute;
top:0;
list-style-type: none;	
margin: 1em 5%;
top: 100px;
}

div#ad-tower ul.tower-ads {
    left: 911px;
    position: absolute;
    top: -35px;
}

div#ad-tower ul.tower-ads li {
margin-right:30px;
margin-top:20px;
}

div#ad-tower .advert-header {
left:0;
width:160px;
}

span.ad-header {
text-align:center;
color:#999999;
display:block;
font-family:sans-serif;
font-size:80%;
}

div#ad-footer {
background-color:#CCCCCC;
margin:0;
margin-right:5px;
padding:5px 0 0;
width:729px;
text-align:left;
float:left;
display:inline;
}

div#ad-footer2 {
background-color:#CCCCCC;
margin:0;
padding:5px 0 0;
width:226px; /*960-729-5*/
text-align:right;
float:left;
}

/*standardizing all links*/

div.hw-gen-page a, div.hw-gen-page a:visited, div.hw-gen-page a:link, #pageid-home #content-block h2 a
{
color:#36739F;
}

div.hw-gen-page a:hover, #header ul.button-list a:hover, #header div.header-ac-elements a:hover, #header div.header-qs a:hover, #footer a:hover, #pageid-home #content-block h2 a:hover {
color:#000000;
}

#pageid-help #content-block ol li li li {
list-style-type:lower-roman;
}

.no-link span {
background-color:white;
color:black;
}

/*used on toc and aindex*/

#toc-header h1 {
	font-size:200%;
	margin: 0 .4em .4em 0;
}

div#toc-header cite {
	font-size:120%;
}

#toc-header .toc-links {
    padding: 0.5em 0em;
}

div.search-nav {
	width:200px;
	margin-left:528px;
}

div.bottom-search-nav {
	margin-top:5px;
}


.cit .cit-metadata .cit-auth-list {
	padding-left:0;
}

#pageid-section-index .canned-search,
#potw_wrapper_top {
width:730px;
position:relative;
}

/*used on both #pageid-section-index and unknown pageid for potw*/
div.by-section-left {
width:518px;
padding:0;
margin-top:5px;
}

div.by-section-left .canned-search-subheading {
text-align:justify;
}

#potw_wrapper_top div.by-section-left {
margin-top: 45px;
}

div.by-section-right {
margin-top:5px;
width:200px;
position:absolute;
right:0px;
bottom:0px;
}

#pageid-section-index div.by-section-right div.search-nav {
margin-left:0;
}

div.canned-search-clear {
clear:both;
}
#pageid-report .cit .cit-metadata .cit-first-element {
display:inline;
}
div#pageid-report #content-block ol.cit-list li.cit div.cit-metadata ul {
display:block;
margin-left:0;
padding-left:3em;
}
div#fundref img{
margin:0px 45px 5px;
height:auto;
width:115px;
}
ul.cit-auth-list {
    display: block;
    padding-left: 3em;
}
.cit.has-thumbnail div.cit-metadata, .cit.has-thumbnail div.cit-extra {
    display: block;
    margin-left: 100px;
}
.graphic-abstract div.callout{display:none;}
.graphic-abstract div.fig-inline{
	border:none;
	width:95%;
}

