/* Articles citing this article related */
 #content-block #cited-by .cit .cit-auth-list li span {
	white-space:normal;
}

/* #content-block div.article div.fn-group ul li dl dt, 
#content-block div.article div.fn-group ul li dl dd { 
#content-block div.article div.fn-group ul li dl {
	display: inline;
} */
#content-block div.article div.fn-group ul li dl.def-list-1 {
	margin:0;
	padding:0;
}
#content-block div.article div.fn-group ul li {
        margin: 10;
        /* padding:0 0; */
} 
#content-block div.article div.fn-group ul li dl dt{
	clear:left;
	float:left;
	font-weight:bolder;
	padding:0.2em 1em;
	margin:0.1em;
}
#content-block div.article div.fn-group ul li dl dd p {
	line-height:0.9;	
	margin:0.2em;;
}

#content-block div.article div.fn-group ul li dl dd {
padding:0.3em 1em;
text-align:left;
}


ul.social-bookmark-links li {
font-size:90%;
}


#content-block div.article h3 {
color:black;
background-color:white;
}

#content-block div.article div.contributors {
text-align:left;
margin-bottom:10px;
}

#content-block div.article div.fn-group {
margin-bottom:10px;
}

#content-block div.article .fig, div.article .table {
       padding-bottom: .5em;
}

div#pageid-content .article div#intro-header,
div#pageid-content .article div.section  {
	background:transparent url(../img/structural/backgrounds/27x500_bg_grey_white_gradient.jpg) left top no-repeat;
	margin-top:20px;
}

div#pageid-content .article div.section h2,
div#pageid-content .article div#intro-header h2 {
	font-size:120%;
	padding:4px 0px 0px 8px;
	margin:0 0 20px;
	border:none;
}
div#pageid-content .article div#intro-header h2 {
	text-transform: uppercase;
}
.article div.section  h4 {
	font-size:120%;
	line-height:2;
	color:#000;
	font-weight:bold;
}

.article div.section  h3 {
	font-size:120%;
	line-height:2;
	color:#000;
	font-weight:bold;
}

div#hovering-ref {
	font-size: 100%;
}

div.ref-cit cite .cit-pub-date {
	padding-right: 0.3em;
}

div.ref-cit ol.cit-auth-list {
	font-size: 90%;
}

div.ref-cit cite cit-jnl-abbrev {
	font-style: italic;
}

div.ref-cit cite a {
	padding-left: 0.3em;
}

/* for col expansion */
.hide-cols div#col-2-min,
.hide-cols div#col-3-min {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.hide-cols div#col-2-min,
.hide-cols div#col-3-min {
	background-color: #E6E6E6;
}

div.hide-cols div#col-2.palette,
div.hide-cols div#col-3.palette {
  border: none;
}


#content-block ul.classic-article-links span.inline-cit .cit-title,
#content-block ul.letter-to-the-editor-links span.inline-cit .cit-title {
	padding-right: .5em;
}
#content-block h3.classic-article-header { }
#content-block ul.classic-article-links {
	list-style: none;
	margin: 0; padding: 0;
	font-size: 1.2em;
}
#content-block ul.classic-article-links li {
	margin: 0; padding: 0 0 .5em 1em;
}
#content-block ul.letter-to-the-editor-links {
	list-style: none;
	margin: 0; padding: 0;
}
#content-block ul.letter-to-the-editor-links li {
	margin: 10; padding: 0 0 .5em 0;
	font-size: 1.2em;
}
/*
#content-block ul.letter-to-the-editor-links li span.letter-pre {
	color: #006699;
}
*/

#content-block ul.f1000-links {
	list-style: none;
	margin: 0; padding: 0;
	font-size: 1.2em;
}
#content-block ul.f1000-links li {
	/*height: 32px;*/
	background-position: top left;
	background-repeat: no-repeat;
	padding: 15px 0 1em 35px;
	margin: .5em 0 0 0;
}
#content-block ul.f1000-links li.f1000medicine-link {
	background-image: url('/icons/home/F1000med.gif');
}
#content-block ul.f1000-links li.f1000biology-link {
        background-image: url('/icons/home/F1000bio.gif');
}

h1 xref-fn, 
h1 a.xref-fn, 
h1 a.xref-fn sup {
	font-size:90%;
}

span.sc {
text-transform:uppercase;
font-size:.85em;
}

div#pageid-content .article blockquote {
border:none;
display:block;
font-size:1em;
font-weight:normal;
margin:0.5em 1em;
padding:0.5em 1em;
text-align:left;
}

div.teaser {text-align:left; border:2px solid #36739F;padding:0 1.5em; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px;border-radius: 20px;}
div#pageid-content .article div.teaser h2 {font-size:120%;padding:4px 0px 0px;margin:0 0 20px;border:none;text-align:left;}