#main {
    float: left;
    width: 750px;
}

#chart {
    position: relative;
}

path {
    stroke: #fff;
    fill-opacity: 0.6;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

.categoryHierarchy {
    padding: 4px 7px;
    color: #FFFFFF;
    float: left;
}

#hierarchyBar {
    height: 100px;
}